.frontpage-slider {
  padding: 2rem 0;
}


.doc-card-page {
  display: flex;
  border: 1px solid $light-gray;
  width: 100%;


  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;

  }
  

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 3rem;
  }

  &__name {
    font-size: ms(3);
    margin: 0;
    padding: 0;
  }

  &__spec {
    text-transform: uppercase;
    font-weight: bold;
    color: $gray;
  }

  &__price {
    font-weight: bold;
    text-transform: uppercase;
    background: $light-gray;
    padding: 1rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
   }

   &__list {
     margin: 0;
     padding: 0;
     list-style: none;
     display: flex;
   }

  &__footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;  

  }

  &__button {
    flex-basis: 50%;
    border: none;
  }

  &__phone {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $light-gray;
    align-self: stretch;
    padding: 1rem;
  }

  &__feature {
    margin-right: 1rem;
  }

  &__icon {
    border: 1px solid $black;
    padding: .5rem;
    border-radius: 50%;
    margin-right: .5rem;
  }
}


// MEDIAQ

      
@include media-breakpoint-down(md) { 
  .doc-card-page {
    flex-direction: column; 
  }
}

      
@include media-breakpoint-down(md) { 
  .doc-card-page__imgholder {
    display: none;
  }
}
      
@include media-breakpoint-down(md) { 
  .doc-card-page__footer {
    flex-direction: column; 
  }
}

// CONTROLS

.slider-controls {
  display: flex;

  &__box {
    margin-right: 1rem;
    cursor: pointer;
  }

  &__image {
    width: 140px;
    height: 140px;
    border-radius: 100%;
  }
}

.slider-controls :not(.tns-nav-active) {
  img {
    opacity: .5;
  }
}
